NODE_ENV=production
SOCIAL_RETRY_APP_ENV='dev/test/prod'

DB_HOST='hostname'
DB_PORT='port number'
DB_USERNAME='username'
DB_PASSWORD='password'
DB_NAME='database name'
DB_SCHEMA='schema name'
DB_SYNCHRONIZE=false
DB_RUN_MIGRATIONS=true
DB_LOGGING=false
DB_SSL=true
DB_SSL_REJECT_UNAUTH=true
DB_CA_CERT='ca cert here'
DB_CLIENT_CERT='db client cert here'
DB_CLIENT_KEY='db client key here'

REDIS_HOST='hostname'
REDIS_PORT='port number'
REDIS_PASSWORD='password'
REDIS_USER='username'

SIEBEL_ACCESS_TOKEN_URL='url here'
SIEBEL_CLIENT_ID='id here'
SIEBEL_CLIENT_SECRET='secret here'

SIEBEL_RETRY_DELAY_MS='time ms here'
SIEBEL_BACKOFF_DELAY_MS='time ms here'

SIEBEL_UPSTREAM_URL='url here'